.header {
  display: flex;
  height: 80px;
  align-items: center;
  box-shadow: .5px 3px 13px .5px #7d7d7d26;
}

.headerLogo {
  margin-left: 2.5rem;
}

.headerItem {
  display: flex;
  align-items: center;
  width: 100%;
}

.heading {
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 28px;
  margin-left: 2rem;
}

.headerBtnDiv {
  margin-right: 5rem;
  margin-left: auto;
}

.logOutBtn {
  padding: 9px 18px;
  border: none;
  border-radius: 5px;
  box-shadow: 5px 5px 15px 1px #7d7d7d48;
  /* background-color: #e3f2fd; */
  cursor: pointer;
}